<phpunit bootstrap="phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="PHP Router Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>